<ui-view>
	<div class="header-bar">
		<div class="container">
			<h2>Create a new <span class="highlight">Pokemon Team</span></h2>
		</div>
	</div>

	<div class="container content-container">
		<div class="field-bar">
			<b>Team Name</b>
			<input type="text" ng-model="newTeam.name" class="form-control">
		</div>
	</div>

	<div class="container content-container">
		<div class="field-bar">
			<b>Tier</b>
			
			<select class="form-control" ng-model="newTeam.tier">
				<option value="OU">OU (Most Used / Overused)</option>
				<option value="BL">BL (Things to good for UU but too weak for OU)</option>
				<option value="UU">UU (Commonly Used / Under Used)</option>
				<option value="RU">RU (Sometimes Used / Rarely Used)</option>
				<option value="NU">NU (Poorly Used / Never Used)</option>
				<option value="Uber">Uber (Things too strong for OU)</option>
			</select>
		</div>
	</div>
	<div class="container content-container">
		<div class="field-bar">
			<b>Options</b>
			
			<div class="well">
				<input type="checkbox" ng-model="newTeam.populate"> Populate team on creation<br/><br/>
				<input type="checkbox" ng-model="newTeam.private"> Private? <span class="text-muted">Do not list this team</span>
			</div>
		</div>
	</div>

	<div class="container content-container">
		<div class="field-bar">
			<b>Actions</b>
			
			<div class="well">
				<a href="#" ng-click="createTeam(newTeam)" class="btn btn-block btn-success">Create &amp; Edit</a>
			</div>
		</div>
	</div>

	<div class="spacer"></div>
</ui-view>