$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$color-highlight: #40e509;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import '../assets/css/rotating-card';
@import './loader.scss';
@import "./scss/pokemon_table.scss";
@import './shapes.scss';
@import './team/team.scss';

.spacer {
    height: 50px;
}
.highlight {
    color: rgb(73, 145, 228);
}


.team-name {
    padding-top: 4px;
    padding-right: 15px;
}

.navbar-white {
    background-color: #fff;
    border: none;
    .navbar-nav a {
        color: #333;
    }
    border-radius: none;
}

.navbar-default {
    .navbar-toggle {
        background-color: #ccc;
        &:hover {
            background-color: #aaa;
        }
    }
    border: none;
    background-color: #323a45;
    border-color: #333;
    color: #fff;
    margin-bottom: 0;
    .navbar-nav a {
        color: #f1f1f1 !important;
        box-shadow: inset 0px 0px 0px $color-highlight;
        transition: color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
        -webkit-transition: color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;

    }
    .navbar-nav > .active > a {
        background-color: darken(#323a45, 4%);
        color: $color-highlight;
        &:hover, &:focus {
            background: #323a45;
        }
        box-shadow: inset 0 -2px 0 $color-highlight, inset 0 0 5px #000, 0px 0px 1px rgba(255,255,255,.2);
    }
    .navbar-nav > li:hover > a, .navbar-nav .active:hover {
        color: $color-highlight;
        background: #323a45;
        box-shadow: inset 0px -2px 0px $color-highlight;
    }
}

body {
    background-color: #cdcdcd;
    overflow-x: hidden;
}

.hero-unit {
    background-color: #252728;
}

.stat-table {
    tr td, tr th {
        text-align: center;
    }
}
.move-table {
    tr td {
        border: none !important;
        > div {
            display: block;
            font-size: 10px;
            padding: 2px 4px;
        }
    }
}
.table-tiny {
    font-size: 10px;
}

.toolbar {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #ccc;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 10px;
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
            }
            cursor: pointer;
            margin-right: 50px;
            
            &:hover {
                background-color: #aaa;
            }
            
        }
    }
}

.btn-primary {
    padding: 5px 20px;

    display: block;
    margin: 80px auto;
}

table tr td {
    vertical-align: middle;
}
.no-list {
    list-style: none;
}

.checkbox-list {
    
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.pokemon-view {
    border-top: 1px solid #ccc;
    min-height: 500px;
    padding: 20px;
}


// Component styles are injected through grunt
// injector
@import 'loader.scss';
@import 'main/main.scss';
@import 'pokemon/types.scss';
@import 'scss/pokemon_table.scss';
@import 'shapes.scss';
@import 'team/team.scss';
@import 'modal/modal.scss';
// endinjector

.stat-table {
    font-size: 11px;
}

#loading-bar {
    background: $color-highlight !important;
}