<div class="header-bar">
	<div class="container">
		<h2>Publish your team</h2>
	</div>
</div>

<div class="container">
	<div class="field-bar">
		<h3 class="text-primary text-center">Make your team public!</h3>
		<div class="row">
			<div class="col-xs-12">
				<div class="text-center"><b>Your team in a peak</b></div>
				<div class="spacer"></div>
				<div class="row">
					<div class="well col-xs-8 col-xs-offset-2" style="text-align: center;padding-top: 5px; padding-bottom: 5px;">

						<img class="publish-img" style="max-height:64px"   ng-src="{{pokemon.sprite}}" ng-repeat="pokemon in team.pokemons">

					</div>
				</div>
				<hr />
				<div class="well col-xs-6 col-xs-offset-3" style="text-align: justify">
					You are one step ahead to make your team public visible for the rest of the community.
					Users may add suggestions to improve your team or give a star to let your team reach our <a ui-sref="help.most_wanted">Most Wanted</a>.
					<strong>Remember</strong>, you can always change your mind and remove your team from the public list.
					<div class="spacer">
					</div>
					<div class="btn btn-large btn-block btn-danger">Make my team public</div>

				</div>
			</div>
		</div>
	</div>
</div>	