<ui-view>
        <header class="hero-unit" id="banner">
          <div class="container">
               <img src="/assets/images/teaser.png" style="width: 100%; max-height: 694px; max-width: 694px;" />
               <div class="text-center">
               	<p>Teambrewery is a modern Teambuilder for competetive Pokémon players</p>


               </div>
          </div>
        </header>
        <div class="block dark-blue">
        	<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12 col-sm-6">
	        			<img class="thumbnail" src="/assets/images/intro/typechart.png" style="width: 100%;">
	        		</div>
	        		<div class="col-xs-12 col-sm-6">
	        			<h3 class="text-center">Check your teams resistances</h3>
	        			<p class="big-padding">
	        			The most important point in teambuilding is synergy. We provide your with simple yet detailed charts which show you where your team needs improvement. Beside the <em>Type &amp; Resistances</em> table, we also show you your teams <em>Moveset Coverage</em>.
	        			<br/><br/>
	        			Also checkout our Checklist, which shows you what kind of Pokémon your teams check (eg. Spinner, Stealth Rocker, Pivot, Sweeper etc.)
	        			</p>
	        		</div>
	       	 	</div>
	       	 	<div class="row row-margin">
	        		
	        		<div class="col-xs-12 col-sm-6">
	        			<h3 class="text-center">Add Pokemon with ease</h3>
	        			<p class="big-padding">
	        			We try to make teambuilding as simple and fun as possible. We already grouped common Pokémon to make it really easy to add individual Pokémon. You need a spinner? Just click on the <em>Add Pokemon &raquo; Spinner</em> link. 
	        			<br/><br/>
	        			Sometimes you need a strong sweeper but you don't remember what Pokémon is capable of doing it? Just... <em>you already know it. ;)</em>.
	        			</p>
	        		</div>
	        		<div class="col-xs-12 col-sm-6">
	        			<img class="thumbnail" src="/assets/images/intro/add-pokemon.png" style="width: 100%;">
	        		</div>
	       	 	</div>

	        </div>
	    </div>
	    <div class="block cinnamon-red">
        	<div class="container">
        		<h3 class="text-center">What we offer</h3>
	        	<div class="row">
	        		<div class="col-xs-12 col-sm-4">
	        			<h4><i class="fa fa-users"></i> A community behind teams</h4>
	        			<p class="desc">
	        				Create and share your team with the community. Get tips on how to improve your team. Pick a team from the community and start adding your own flavour.
	        			</p>
	        		</div>
	        		<div class="col-xs-12 col-sm-4">
	        			<h4><i class="fa fa-line-chart"></i> A whole new level of team creation</h4>
	        			<p class="desc">
	        			While other teambuilder let you add Pokémon and show you their weaknesses and resistances, we go a step further providing detailed movesets. Our Pokémon are already set-up with the most up-to-date movesets and EVSpreads.
	        			</p>
	        		</div>
	        		<div class="col-xs-12 col-sm-4">
	        			<h4><i class="fa fa-youtube-play"></i> Show your teams in action!</h4>
	        			<p class="desc">
	        			If you're using a team in a Youtube Video you can link these videos. Whenever someone views your team they have direct insight on how the team compares. 
	        			</p>
	        		</div>
	       	 	</div>
	       	 	<div class="row row-margin">
	        		<div class="col-xs-12 col-sm-4">
	        			<h4><i class="fa fa-lock"></i> Everything is kept secret</h4>
	        			<p class="desc">
	        				Don't worry about your privacy. You don't even need to login to use our service! If you want to save your teams you can simply login with any <em>Social Network</em>. No password required. 
	        			</p>
	        		</div>
	        		<div class="col-xs-12 col-sm-4">
	        			<h4><i class="fa fa-code-fork"></i> Export/Import your team</h4>
	        			<p class="desc">
	        			You can easily export your team to <em>Pokemon Showdown</em> or any other Pokemon Simulator. We also added the feature to import your existing Pokemon Simulator teams.<br/><br/>
	        			We're working hard to provide you with <em>Browser Extension</em>, so you can use the teams you created on <em>Teambrewery</em>
	        			on Showdown with no effort.
	        			</p>
	        		</div>
	        		<div class="col-xs-12 col-sm-4">
	        			<h4><i class="fa fa-database"></i> Save your Pokémon!</h4>
	        			<p class="desc">
	        			You know that in the original games you can simply drop your Pokémon to a Box on your Computer and reuse it whenever want? Well, now you can do as well! You can save up to 200 Pokémon to your private Box and use them in any team. How convenient is that?
	        			</p>
	        		</div>
	       	 	</div>
	        </div>
	    </div>
	    <div class="block light-green">
        	<div class="container">
	       	 	<div class="row row-margin">
	        		
	        		<div class="col-xs-12 col-sm-6">
	        			<h3 class="text-center">Extensive Tier support</h3>
	        			<p class="big-padding">
	        			Most teambuilder don't check if your team is legit in a given tier<sup>*</sup>. We do! Every action adapts your tiers changes automatically. Don't ever worry that your team might be rejected.
	        			We use the latest <em>Pokemon Showdown</em> tier rules.
	        			<br/><br/>
	        			At the moment we support common tiers like: <strong>OU, Uber, UU, LC, RU, NU, BL</strong>. We plan to support more tiers in the future.
	        			<br/><br/>
	        			*) This reflects to tier clauses as well. For example <em>Species Clause</em>.
	        			</p>
	        		</div>
	        		<div class="col-xs-12 col-sm-6">
	        			<img src="/assets/images/intro/xernias.png" style="width: 100%;">
	        		</div>
	       	 	</div>

	        </div>
	    </div>
</ui-view>