<div class="pokemon-evspread">
	<div ng-if="pokemon.moveset && pokemon.moveset.ev_spread">
		<table ng-if="options && options.view == 'table'" width="400px" class="table table-bordered table-small table-evspread">
			<thead>
				<tr>
					<th>HP</th>
					<th>ATK</th>
					<th>DEF</th>
					<th>SPA</th>
					<th>SPD</th>
					<th>SPE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{pokemon.moveset.ev_spread.hp}}</td>
					<td>{{pokemon.moveset.ev_spread.atk}}</td>
					<td>{{pokemon.moveset.ev_spread.def}}</td>
					<td>{{pokemon.moveset.ev_spread.spa}}</td>
					<td>{{pokemon.moveset.ev_spread.spd}}</td>
					<td>{{pokemon.moveset.ev_spread.spe}}</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="!options || options.view == 'small'">
			<span ng-if="pokemon.moveset.ev_spread.hp != 0">{{pokemon.moveset.ev_spread.hp}} HP / </span>
			<span ng-if="pokemon.moveset.ev_spread.atk != 0">{{pokemon.moveset.ev_spread.atk}} ATK / </span>
			<span ng-if="pokemon.moveset.ev_spread.def != 0">{{pokemon.moveset.ev_spread.def}} DEF / </span>
			<span ng-if="pokemon.moveset.ev_spread.spa != 0">{{pokemon.moveset.ev_spread.spa}} SPA / </span>
			<span ng-if="pokemon.moveset.ev_spread.spd != 0">{{pokemon.moveset.ev_spread.spd}} SPD / </span>
			<span ng-if="pokemon.moveset.ev_spread.spe != 0">{{pokemon.moveset.ev_spread.spe}} SPE </span>
		</div>
		<a ng-click="changeEvSpread(pokemon)">Change EVSpread for {{pokemon.name}}</a>
	</div>
	
	<div ng-if="!pokemon.moveset || !pokemon.moveset.ev_spread">
		No EVSpread exist for {{pokemon.name}} at the moment. <br/><a ng-click="changeEvSpread(pokemon)">Add EvSpread</a>
	</div>
</div>